.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: black;
  background-color: orange; }

.btn-light {
  color: black;
  background-color: white; }

.btn-dark {
  color: white;
  background-color: #350d0d; }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: orange; }

.bg-main {
  background: orange;
  color: set-text-color(orange); }

.bg-dark {
  background: #350d0d;
  color: set-text-color(#350d0d); }

.bg-light {
  background: white;
  color: set-text-color(white); }

.bg-medium {
  background: grey;
  color: set-text-color(grey); }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.bottom-line {
  height: 2px;
  width: 3rem;
  background: orange;
  display: block;
  margin: 0 auto 1rem auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Dosis' , sans-serif;
  line-height: 1.6;
  background: white; }

a {
  text-decoration: none;
  color: #350d0d; }

ul {
  list-style: none; }

h2, h3, h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 70px;
  height: 70px; }

#main-nav {
  display: flex;
  justify-content: center;
  padding-top: 1rem; }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #0a0a0a;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
  #main-nav:hover {
    border-color: grey; }
  #main-nav.current {
    border-color: orange; }

#header-home {
  background: url(/dist/img/person_1.jpg) center center/cover no-repeat;
  height: 100vh;
  color: #f8f4f4; }
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }

#header-inner {
  background: url("/dist/img/person_1.jpg") no-repeat 20% 30%/cover;
  height: 5.5rem;
  border-bottom: 3px solid orange; }

#home-a .specials {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr); }
  #home-a .specials .fas {
    color: orange;
    padding-bottom: 0.4rem; }

#home-b .stats {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr); }
  #home-b .stats li {
    line-height: 2; }
    #home-b .stats li.stats-title {
      font-size: 1rem; }
    #home-b .stats li.stats-number {
      font-size: 1rem;
      font-weight: bold; }
  #home-b .stats div {
    padding: 2rem 0; }
    #home-b .stats div:nth-child(odd) {
      background: rgba(0, 0, 0, 0.144); }
    #home-b .stats div:nth-child(even) {
      background: rgba(231, 173, 12, 0.329); }

#about-a .about-info {
  display: grid;
  grid-template-columns: "bio-image bio bio" "aw1 aw2 aw3";
  grid-gap: 1.2rem; }

#about-a .bio-image {
  grid-area: bioimage; }

#about-a .bio {
  grid-area: bio;
  border-left: 3px solid orange;
  padding: 0.8rem; }

#about-a .award-1 {
  grid-area: aw1; }

#about-a .award-2 {
  grid-area: aw2; }

#about-a .award-3 {
  grid-area: aw3; }

#about-a .award-1 .fas,
#about-a .award-2 .fas,
#about-a .award-3 .fas {
  color: orange;
  margin: 1rem; }

#about-b .progress {
  overflow: hidden;
  height: 20px;
  background: orange;
  border-radius: 5px;
  margin-bottom: 0.6rem; }
  #about-b .progress div {
    height: 100%;
    color: aliceblue;
    text-align: center;
    background: orange; }

#about-c .about-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }
  #about-c .about-logos img {
    width: 70%; }

#about-d .testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem; }
  #about-d .testimonials ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    align-items: center; }
  #about-d .testimonials p {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem; }
  #about-d .testimonials img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem; }

#main-footer {
  background: #350d0d;
  color: aliceblue;
  height: 5rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center; }
    #main-footer .footer-content .social .fab {
      margin-right: 1rem;
      border: 2px white solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem; }
      #main-footer .footer-content .social .fab:hover {
        background: orange; }
