@media(max-width:700px)
{
    #header-home{
        background:url(/dist/img/person_1.jpg)center right -180px /cover no-repeat;
        height: 100vh   ;
        color:#fff;

        .header-content{
            padding-top: 2rem;
            width: 80%;
        }
    }
}

@media(max-width:500px){
    
    #header-home{
        background:url(/dist/img/person_1.jpg)center right -180px /cover no-repeat;
        height: 40rem;
        color:#fff;
        .header-content{
            padding-top: 2rem;
            width: 80%;
        }
        #main-nav{
            align-items: center;
        }
        li{
            padding: 0.5rem;
        }
    }

    #header{
        grid-template-columns: 1fr;
        height: 1500px;
        margin-top: 10px;
        
        .header-content{
            grid-template-columns: 1fr;
            padding: 0px;
        }
        .container{
            height: 1400px;
        }
    }
}

//landscape
@media(min-width:800px) and (max-width:1000px){
    #header-home{
        background:url(/dist/img/person_1.jpg)center  center/cover no-repeat;
        height: 100vh   ;
        color:#fff;

        .header-content{
            padding-top: 2rem;
            width: 80%;
        }
    }
}


